<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
    <add key="AppName" value="CloudWatchLogsUploader" />    
    <add key="AwsProfileName" value="CloudWatchWriter" />    
    <add key="LogsToUpload" value="C:\Tareas\AWS_S3_PagosDownloader\Logs\*TASK.Pagos.Online.Comprobantes.S3.Downloader;C:\logs2\*TEST.Log4"/>
    <add key="FolderToMoveLogsUploaded" value="\delete\" />
  </appSettings>
</configuration>